<footer class="footer">
	<div class="footer__container">
		<div class="footer__top">
			<div class="footer__company">
				<img src="/assets/logo-white.svg" alt="シンオン株式会社" class="footer__logo">
				<p class="footer__address">
					〒104-0031<br>
					東京都中央区京橋二丁目2番1号<br>
					京橋エドグラン
				</p>
				<p class="footer__tel">TEL : 03-1234-5678</p>
			</div>

			<div class="footer__nav">
				<div class="footer__nav-col">
					<h4 class="footer__nav-title">事業紹介</h4>
					<ul class="footer__nav-list">
						<li><a href="#">情報通信事業</a></li>
						<li><a href="#">システムインテグレーション事業</a></li>
						<li><a href="#">セキュリティ事業</a></li>
						<li><a href="#">工事・施工事業</a></li>
					</ul>
				</div>
				<div class="footer__nav-col">
					<h4 class="footer__nav-title">提供サービス</h4>
					<ul class="footer__nav-list">
						<li><a href="#">サービス一覧</a></li>
						<li><a href="#">ネットワーク設計・構築</a></li>
						<li><a href="#">クラウド・インテグレーション</a></li>
						<li><a href="#">セキュリティソリューション</a></li>
						<li><a href="#">運用・監視サービス</a></li>
					</ul>
				</div>
				<div class="footer__nav-col">
					<h4 class="footer__nav-title">導入事例</h4>
					<ul class="footer__nav-list">
						<li><a href="#">導入事例一覧</a></li>
					</ul>
				</div>
				<div class="footer__nav-col">
					<h4 class="footer__nav-title">企業情報</h4>
					<ul class="footer__nav-list">
						<li><a href="#">会社概要</a></li>
						<li><a href="#">経営理念</a></li>
						<li><a href="#">沿革</a></li>
						<li><a href="#">拠点情報</a></li>
						<li><a href="#">グループ会社</a></li>
					</ul>
				</div>
				<div class="footer__nav-col">
					<h4 class="footer__nav-title">IR情報</h4>
					<ul class="footer__nav-list">
						<li><a href="#">IRライブラリ</a></li>
						<li><a href="#">財務・業績情報</a></li>
						<li><a href="#">株式・社債情報</a></li>
						<li><a href="#">IRカレンダー</a></li>
					</ul>
				</div>
				<div class="footer__nav-col">
					<h4 class="footer__nav-title">サステナビリティ</h4>
					<ul class="footer__nav-list">
						<li><a href="#">サステナビリティ</a></li>
						<li><a href="#">環境への取り組み</a></li>
						<li><a href="#">社会への取り組み</a></li>
						<li><a href="#">ガバナンス</a></li>
					</ul>
				</div>
			</div>

			<div class="footer__actions">
				<a href="#" class="footer__action-btn"><i class="icon-mail"></i> お問い合わせ</a>
				<a href="#" class="footer__action-btn"><i class="icon-search"></i> サイト内検索</a>
			</div>
		</div>

		<div class="footer__bottom">
			<ul class="footer__legal">
				<li><a href="#">プライバシーポリシー</a></li>
				<li><a href="#">サイトマップ</a></li>
			</ul>
			<p class="footer__copyright">&copy; SYNON CO., LTD.</p>
		</div>
	</div>
</footer>