<header class="header">
	<div class="header__inner">
		<div class="header__logo">
			<img src="/assets/logo.svg" alt="シンオン株式会社" class="header__logo-img">
		</div>
		<nav class="header__nav">
			<ul class="header__nav-list">
				<li class="header__nav-item"><a href="#" class="header__nav-link">ホーム</a></li>
				<li class="header__nav-item"><a href="#" class="header__nav-link">事業紹介</a></li>
				<li class="header__nav-item"><a href="#" class="header__nav-link">提供サービス</a></li>
				<li class="header__nav-item"><a href="#" class="header__nav-link">導入事例</a></li>
				<li class="header__nav-item"><a href="#" class="header__nav-link">企業情報</a></li>
				<li class="header__nav-item"><a href="#" class="header__nav-link">IR情報</a></li>
				<li class="header__nav-item"><a href="#" class="header__nav-link">サステナビリティ</a></li>
			</ul>
		</nav>
		<div class="header__actions">
			<a href="#" class="header__action-btn header__action-btn--contact">
				<i class="icon-mail"></i> お問い合わせ
			</a>
			<a href="#" class="header__action-btn header__action-btn--search">
				<i class="icon-search"></i> サイト内検索
			</a>
		</div>
	</div>
</header>